{% extends _layout %}

{% block title %}Users{% endblock %}

{% block content %}
    <h1>Users list</h1>

    <div class="row">
        <div class="col s10">
            <table class="responsive-table striped">
                <thead>
                <tr>
                    <th data-field="id">Id</th>
                    <th data-field="email">Email</th>
                    <th data-field="password">Password</th>
                    <th data-field="hash">Hash</th>
                    <th data-field="auth-id">Auth ID</th>
                </tr>
                </thead>

                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.hash }}</td>
                        <td>{{ user.auth.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="divider"></div>
{% endblock %}
